.DS_Store
node_modules
.next
build
out
.env
.env*.local
.env.example
.env.example.new
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.pem
.git
.gitignore
.vscode
playwright-report/
test-results/
blob-report/
playwright/*
coverage/